extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5.mt-md-5 
                img(src="img/nosotros.jpg", alt="Torre Eiffel: Ejemplo de Destino" class="mt-md-5 img-fluid")
            .col-md-7 
                h1.mt-3.mt-md-0= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed urna augue, ullamcorper eget ultricies orci. Donec faucibus nisi tempor gravida gravida. Donec accumsan, ante id laoreet interdum, arcu libero feugiat risus, non ullamcorper risus lorem nec tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra.
                p Nulla quis libero placerat, tempus ex at, vehicula sapien. In ornare, dui eget placerat fringilla, arcu ipsum placerat libero, at ultrices magna turpis non lectus. Ut sollicitudin justo elit, vel rutrum ipsum gravida sit amet. Nunc quis mi feugiat, volutpat mi vulputate, luctus libero. Quisque id pellentesque augue. Integer vitae nisl in velit dictum volutpat at eu mauris.
                p dignissim quis, hendrerit lobortis metus. Egestas facilisis lectus. Suspendisse scelerisque congue dolor. Praesent vel lacus sit amet nibh aliquam ornare et ac lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mattis libero non augue tincidunt, quis auctor lorem convallis. Aliquam at ex vulputat ante quis, viverra felis. Pellentesque posuere, ex nec luctus interdum, ex nisl tempus metus, ullamcorper neque enim id turpis. Nam non sapien non dui molestie suscipit. Cras finibus sapien ut ipsum mattis, in sollicitudin dolor accumsan.
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="ícono Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Nulla quis libero placerat, tempus ex at, vehicula sapien. In ornare, dui placerat libero, at ultrices magna turpis non lectus. Ut sollicitudin justo elit, vel rutrum ipsum gravida sit amet. Nunc quis mi feugiat, volutpat mi vulputat.
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="ícono Destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos Soñados 
                    p N placerat, tempus ex at, vehicula sapien. In ornare, dui eget placerat fringilla, arcu ipsum, at ultrices magna turpis non lectus. Ut sollicitudin justo elit, vel rutrum ipsum gravida sit amet. Nunc quis mi feugiat, volutpat mi vulputat.
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="ícono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p N placerat, tempus ex at, vehicula sapien. In ornare, arcu ipsum, at turpis non lectus. Ut sollicitudin justo elit, vel rutrum ipsum gravida sit amet. Nunc quis mi feugiat, volutpat mi vulputate, luctus libero.