.row.testimoniales
    each opinion in opiniones
        .col-md-6.col-lg-4.mb-4
            .card
                .card-body
                    blockquote.blockquote   
                    p.mb-0
                        | #{opinion.mensaje}
                    footer.blockquote-footer
                        | #{opinion.nombre}