footer.container.py-5    
    .row 
        .col-md-6 
            nav.nav.footer.justify-content-center.justify-content-md-start
                a.nav-link(href="/viajes") Viajes
                a.nav-link(href="/nosotros") Nosotros
                a.nav-link(href="/opiniones") Opiniones
        .col
            p.copyright.text-center.text-md-right Todos Los Derechos Reservados - 
                span= actualYear